{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %} Criar novo Link | {{ block.super }} {% endblock titulo %}

{% block corpo %}

<h1>Informações do Link</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.titulo.id_for_label }}" class="form-label">{{ form.titulo.label }}</label>
            {% render_field form.titulo class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="{{ form.descricao.id_for_label }}" class="form-label">{{ form.descricao.label }}</label>
            {% render_field form.descricao class="form-control" %}
        </div>
        <div class="mb-3">
            <label for="{{ form.url.id_for_label }}" class="form-label">{{ form.url.label }}</label>
            {% render_field form.url class="form-control" placeholder=form.url.help_text %}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

{% endblock corpo %}
